@font-face {
  font-family: 'source sans pro';
  src: url("../fonts/SourceSansPro-Regular.ttf"); }

@font-face {
  font-family: 'work sans';
  src: url("../fonts/WorkSans-Regular.ttf"); }

@font-face {
  font-family: 'work sans light';
  src: url("../fonts/WorkSans-Light.ttf"); }

@font-face {
  font-family: 'noto-serif';
  src: url("../fonts/NotoSerif-Regular.ttf"); }

@font-face {
  font-family: 'iconfont';
  src: url("iconfont.eot");
  src: url("iconfont.eot?#iefix") format("embedded-opentype"), url("iconfont.woff") format("woff"), url("iconfont.ttf") format("truetype"), url("iconfont.svg#iconfont") format("svg"); }
